# api
api/build/
api/public/**
!api/public/favicon.ico

# client-react
client-react/components/*.js
client-react.test/build
!client-react.test/build/client-react/styles/

# test
test/build/

# ops
ops/config.yml
ops/*.retry

# other
*.js.map
yarn-error.log
.DS_Store
node_modules/

