[program:{{app_name}}]
command={{ start_command }}
directory={{deploy_directory}}
autostart=true
autorestart=true
stderr_logfile={{ error_file }}
stdout_logfile={{ log_file }}
environment=NODE_ENV=production
user={{webserver_user}}
stopsignal=INT
stopasgroup=true
killasgroup=true
